include ~@components/logo/logo
include ~@components/text-input/text-input

mixin footer
  - const { pages, socialLinks } = require('@components/footer/data');

  footer.footer
    section.footer__main-info
      section.footer__description
        .footer__logo
          +logo
        .footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      nav.footer__navigation
        each page in pages
          - const { title, subItems } = page;

          section.footer__navigation-item
            .footer__title= title
            ul.footer__list
              each subItem in subItems
                li.footer__list-item
                  a.footer__list-link(href="/mock-address")= subItem
                  
      form.footer__newsletter(action="https://echo.htmlacademy.ru" method="post")
        .footer__title Подписка
        .footer__text Получайте специальные предложения и новости сервиса
        +text-input({ theme: "newsletter", type: "email", name: "email", placeholder: "Email" })(aria-label="Введите email")
    section.footer__other-info
      .footer__copyright Copyright © 2019 Toxin отель. Все права зачищены.
      ul.footer__list

        each socailLink in socialLinks
          - const { theme, link, label } = socailLink;
          - const socailLinkTheme = theme ? `footer__social-link_theme_${theme}` : "";
          
          li.footer__social-item
            a.footer__social-link(
              class = socailLinkTheme 
              href = link 
              target="_blank" 
              rel="noopener noreferrer" 
              aria-label = label)
